[Unit]
Description=uWSGI instance to serve mRNAid backend
After=network.target

[Service]
User=mrnaid
Group=www-data
WorkingDirectory=/opt/mrnaid-code/backend/flask_app/
ExecStart=/opt/mrnaid-deployment/uwsgi/uwsgi.sh

[Install]
WantedBy=multi-user.target

